--- MAVEN ---
Ignorar la carpeta de compilación de Maven donde se guardan los .class y .jar/.war
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/.maven-wrapper.jar
*.class

# Ignora los JSON. Comentar (#) la siguiente linea en caso de querer subirlos y tener problemas
*.json


--- INTELLIJ IDEA ---
Ignorar toda la carpeta de configuración local
.idea/
Excepto si quieres compartir los estilos de código o configuraciones de ejecución específicas con tu equipo (opcional):
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/scopes/
Ignorar archivos individuales de proyectos de IntelliJ
*.iml
*.ipr
*.iws

--- ARCHIVOS DEL SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
log/
*.log
